.noMarg {
	margin: 0;
}
.col-3 {
	height: 100vh;
}

.noPad {
	padding: 0;
}
li {
	list-style-type: none;
}
.btn-primary {
	background-color: white;
	border-color: black;
	color: black;
}
.topMarg {
	margin-top: 20px;
}
.col-9 {
	height: 100vh;
	padding-right: 0;
}
.weatherHeight {
	height: 40vh;
	margin-top: 20px;
}
p {
	font-size: 1rem;
}
#uv {
	padding: 5px;
}
.bg-orange {
	background-color: orangered;
}
.bg-purple {
	background-color: purple;
}
